<html>
    <body>
        <form action="/" method = "get">
            <a href="/nomecognomeinput"><p>Nome e Cognome</p></a>
            <a href="/cittàinput"><p>Città</p></a>
            <a href="/stato"><p>Stato</p></a>
            <a href="/numero"><p>Numero di clienti per ogni stato</p></a>
            <a href="/grafici"><p>Grafico dei numeri di prodotti</p></a>
            <a href="/noMail"><p>Informazioni di chi non ha l'e-mail</p></a>
            <a href="/provider"><p>Provider di ogni cliente</p></a>
        </form>
    </body>
</html>